body { 
  background: radial-gradient(circle, #ffafbd, #ffc3a0); 
  text-align: center; font-family: 'Poppins', sans-serif; 
  overflow-x: hidden; min-height: 100vh; margin: 0;
}
.rose { position: fixed; top: -10%; animation: fall 4s linear infinite; z-index:100; font-size: 25px;}
@keyframes fall { to { transform: translateY(110vh) rotate(360deg); } }

.card { 
  background: rgba(255, 255, 255, 0.9); 
  margin: 20px auto; padding: 20px; width: 90%; max-width: 500px;
  border-radius: 20px; box-shadow: 0 0 20px #ff4d6d;
  position: relative; z-index: 10;
}

.photo-grid { display: flex; justify-content: center; gap: 10px; flex-wrap: wrap; margin-bottom: 20px; }
.box { width: 80px; height: 80px; background: #eee; border: 2px solid white; border-radius: 10px; font-size: 30px; display: flex; align-items: center; justify-content: center; overflow: hidden;}

#no-btn { position: absolute; padding: 10px 20px; background: #888; color: white; border-radius: 10px; border: none; cursor: pointer; transition: 0.1s; z-index: 1000; left: 50%; margin-left: 20px;}
#yes-btn { padding: 10px 40px; background: #ff4d6d; color: white; border-radius: 10px; border: none; font-size: 20px; cursor: pointer; box-shadow: 0 5px 15px rgba(255,77,109,0.4); }

h1 { color: #d90429; font-size: 1.8rem; }
.items { font-size: 40px; margin: 15px 0; }
.message { font-size: 1.2rem; color: #c9184a; font-weight: bold; padding: 0 10px; }